$ancho: 100%;
$tamaño-fuente: 12px;
$fuente-negrita: bold;
$flex: flex;
$center: center;
$row: row;



/*Mapas*/
$borde:(
    borde-fino: 1px solid black
    borde-normal: 2px solid black
    borde-grueso: 4px solid black
)
