@mixin dorado(){
    color: gold;
}
@mixin bordo(){
    color: #c40000;
}
  @mixin flex(){
    display: flex
}
  @mixin bggradient(){
    background-image: linear-gradient(to right, #ffffff, #e7e7e7, #cfcfcf, #b8b8b8, #a1a1a1, #8f8f8f, #7d7d7d, #6c6c6c, #5b5b5b, #4b4b4b, #3b3b3b, #2c2c2c);
}
  @mixin alingnjustifycenter(){
    align-items: center;
    justify-content: center; 
}
  @mixin sombratexto(){
    text-shadow: 1px 2px 2px rgb(112, 112, 112), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(238, 255, 0);
}
  @mixin sombratexto2(){
    text-shadow: 1px 2px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/src/Imagendefondo4.jpg);
    background-size: auto;
    background-repeat: repeat;
}



/*Inicia scss del Header*/
header{
    .colorCabecera{
        @include bggradient();
    }
    .nav-item{
        text-decoration: none;
        @include dorado();
    }
    h1{
        @include flex();
        @include alingnjustifycenter();
        padding-top: 0vh;   
        margin-right: 0%;
        @include dorado();
        font-size: 90px;
        @include sombratexto();
        font-family: 'Lobster', cursive;
    }
    h2{
        @include flex();
        @include alingnjustifycenter();
        text-align: center;
        padding-top: 0vh;
        @include dorado();
        font-size: 35px;
        @include sombratexto();
        margin-top: 3%;
        margin-bottom: 3%;
        font-family: 'Lobster', cursive;

    }
    .logo{
        width: 30%;
    }

    }
    .links{
    color: rgb(255, 0, 0) !important;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    @include sombratexto();
    }
    .links a:hover{
        color: gold !important;  
    
}

/*Finaliza scss del header*/



/*Inicia scss del Main*/

.container-texto{
    @include flex();
    @include alingnjustifycenter();
    text-align: center;
    padding-top: 5px;
    @include bordo();
    font-size: 25px;
    @include sombratexto2();
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Cormorant Garamond', serif, bold;
}
main{
    .galeria img:hover{
        transform: scale(1.1);
        width: 100%;
        background-color: gold !important;
        padding: 4px;
        transition: all 0.4s ease-in-out;
    }
    img{
        max-width: 100%;
    } 
}

/*Finaliza scss del Main*/

.container-formulario {
    width: 40%;
    margin: auto;
    background-image: linear-gradient(to right, #4e4e4e, #595959, #646464, #6f6f6f, #7b7b7b, #848484, #8c8c8c, #959595, #9c9c9c, #a4a4a4, #ababab, #b3b3b3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
h3 {
    color: gold;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;

}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background-color: rgba(0,0,0,0.4);
    color: gold;
    padding: 20px;
    font-size: 25px;
    font-family: 'Lobster', cursive;

}
#boton:hover{
    cursor: pointer;
}

.container-mapa{
    background-image: linear-gradient(to right, #4e4e4e, #595959, #646464, #6f6f6f, #7b7b7b, #848484, #8c8c8c, #959595, #9c9c9c, #a4a4a4, #ababab, #b3b3b3);
    width: 80%;
    margin: 1px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    @include alingnjustifycenter();
    margin-left: 10%;
    margin-right: 50%;

}

h4 {
    @include bordo();
    font-size: 35px;
    font-family: 'DM Serif Text', serif;}



/*Inicia scss del Footer*/
footer{
    margin-top: 100px;
    background-image: linear-gradient(to right, #ffffff, #e7e7e7, #cfcfcf, #b8b8b8, #a1a1a1, #8f8f8f, #7d7d7d, #6c6c6c, #5b5b5b, #4b4b4b, #3b3b3b, #2c2c2c);
    position: absolute;
    margin-bottom: 0px;

    
    .logorrss{
        width: 30%;
    }
    h3{
        @include flex();
        @include alingnjustifycenter();
        text-align: center;
        padding-top: 40px;
        @include dorado();
        font-size: 35px;
        @include sombratexto();
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .row__footer{
        @include flex();
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .logorrss:hover {
        transition: all 0.6s ease-in-out;
        transform: rotate(-360deg);
    }
}
.card2{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card-texto {
    padding: 15px;
    text-align: center;
}
.card-texto p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card-texto h5{
    font-weight: 400;
    margin-bottom: 15px;
}
.container-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*Finaliza scss del Footer*/
@media screen and (max-width: 480px) {
    .container-mapa{
        width: auto;
    }
}
@media screen and (max-width: 480px) {
    form{
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    .container-texto{
        font-size: 15px;
    }
    .h4 {
        font-size: 5px;
    }
}
@media screen and (max-width: 640px) {
    .container-formulario {
        width: 80%;
        margin: auto;
        background-image: linear-gradient(to right, #4e4e4e, #595959, #646464, #6f6f6f, #7b7b7b, #848484, #8c8c8c, #959595, #9c9c9c, #a4a4a4, #ababab, #b3b3b3);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
        .h1{
            @media screen and (max-width: 640px) {


        }
            
        }
}


