@mixin dorado(){
    color: gold;
}
@mixin bordo(){
    color: #a70000;
}
  @mixin flex(){
    display: flex
}
  @mixin bggradient(){
    background-image: linear-gradient(to right, #ffffff, #e7e7e7, #cfcfcf, #b8b8b8, #a1a1a1, #8f8f8f, #7d7d7d, #6c6c6c, #5b5b5b, #4b4b4b, #3b3b3b, #2c2c2c);
}
  @mixin alingnjustifycenter(){
    align-items: center;
    justify-content: center; 
}
  @mixin sombratexto(){
    text-shadow: 1px 2px 2px rgb(112, 112, 112), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(238, 255, 0);
}
  @mixin sombratexto2(){
    text-shadow: 1px 2px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/src/Imagendefondo4.jpg);
    background-size: auto;
    background-repeat: repeat;   
}



/*Inicia scss del Header*/
header{
    .colorCabecera{
        @include bggradient();
    }
    .nav-item{
        text-decoration: none;
        @include dorado();
    }
    h1{
        @include flex();
        @include alingnjustifycenter();
        padding-top: 0vh;   
        margin-right: 0%;
        @include dorado();
        font-size: 50px;
        @include sombratexto();
    }
    h2{
        @include flex();
        @include alingnjustifycenter();
        text-align: center;
        padding-top: 0vh;
        @include dorado();
        font-size: 25px;
        @include sombratexto();
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .logo{
        width: 30%;
    }
    .links a:hover{
        color: gold !important;  
    }
    .links{
    color: rgb(0, 0, 0) !important;
    font-size: 25px;
    @include sombratexto();
    }
}

/*Finaliza scss del header*/



/*Inicia scss del Main*/

.container-texto {
    @include flex();
    @include alingnjustifycenter();
    text-align: center;
    padding-top: 5px;
    @include bordo();
    font-size: 90px;
    @include sombratexto2();
    margin-top: 3%;
    margin-bottom: 3%;
}
main{
    .galeria img:hover{
        transform: scale(1.15);
        width: 100%;
        background-color: gold !important;
        padding: 1px;
    }
    img{
        max-width: 100%;
    }
    .galeria img:hover{
        transform: scale(1.15);
        width: 100%;
        background-color: gold !important;
        padding: 1px;
    }   
}

/*Finaliza scss del Main*/

.container-formulario {
    width: 450px;
    margin: auto;
    background-image: linear-gradient(to right, #4e4e4e, #595959, #646464, #6f6f6f, #7b7b7b, #848484, #8c8c8c, #959595, #9c9c9c, #a4a4a4, #ababab, #b3b3b3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}
h3 {
    color: gold;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Verdana;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background-color: rgba(0,0,0,0.4);
    color: gold;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana;

}
#boton:hover{
    cursor: pointer;
}
@media (max-width: 480px) {
    form{
        width: 100%;
    }
}
.container-mapa {
    background-image: linear-gradient(to right, #4e4e4e, #595959, #646464, #6f6f6f, #7b7b7b, #848484, #8c8c8c, #959595, #9c9c9c, #a4a4a4, #ababab, #b3b3b3);
    width: 100%;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 10px;
}
@media (max-width: 480px) {
    .container-mapa{
        width: auto;
    }
}
h4 {
    @include bordo();
    font-size: 30px;
}



/*Inicia scss del Footer*/
footer{
    bottom: 0%;
    width: 100%;
    margin-top: 60px;
    @include bggradient();
    
    .logorrss{
        width: 30%;
    }
    h3{
        @include flex();
        @include alingnjustifycenter();
        text-align: center;
        padding-top: 40px;
        @include dorado();
        font-size: 25px;
        @include sombratexto();
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .row__footer{
        @include flex();
        width: 100%;
        margin: auto;
        padding: auto;
    }
}

/*Finaliza scss del Footer*/